h1 {
    display: block;
    text-align: center;
}

#category {
    left: 1%;
}

#content {
    position: absolute;
    width: 40%;
    left: 1%;
    margin-top: 10px;
    height: 80%;
    overflow-y: scroll;
}
#map {
    position: absolute;
    height: 80%;
    width: 50%;
    right: 5%;
    border-radius: 6px;
}

ul,li {
    list-style-type: none;
    padding: 0;
    padding-top: 4px;
    margin: 0;
}
